<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <style type="text/css">
        table {

            border-collapse: collapse;

            font-family: Futura, Arial, sans-serif;

        }

        caption {

            font-size: larger;

            margin: 1em auto;

        }

        th,td {

            padding: .65em;

        }

        th,td {

            border-bottom: 1px solid #ddd;

            border-top: 1px solid #ddd;

            text-align: center;

        }
    </style>
</head>
<body>
<table>
    <caption>模型选择页</caption>
    <thead>
        <tr>
            <th>model
            <th>id
            <th>选择图片
            <th>提交
        </th>
    </thead>

    <tbody>
    <tr>
        <td>1
        <td>Citizen Kane
        <td>1941
    </tr>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

    <tr th:each="model:${models}">
        <td th:text="${model.name}"></td>
        <form action="/predict" enctype="multipart/form-data" method="post">
            <td th:text="${model.id}"></td>
                <input type="hidden" name="id" th:value="${model.id}"/>

            </td>
            <td>
                <input type="file" name="file" value="选择图片"/>
            </td>
            <td><input type="submit" value="提交"/></td>

        </form>
    </tr>
    </tbody>
</table>
</body>
</html>